/* Styles généraux */
:root{
    --orange:#e0820d;
}

/* Style pour le header */
.header{
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: grey;
    color: white;
    font-size: x-large;
}

/* Style pour le footer */
.footer{
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: grey;
    color: white;
}

/* Style pour la colone de gauche */
.colLeft{
    color: white;
    overflow-y: hidden;
}
.colLeft aside {
    background-color: var(--orange);
    width: 20%;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}
.colLeft .title{
    position: fixed;
    width: 20%;
    background-color: var(--orange);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
.colLeft .liste{
    margin-top: 60px;
}

.colLeft aside::-webkit-scrollbar {
    display: none;
}
.colLeft .phone {
    transition: transform 0.5s ease-out;
}
.colLeft .phone {
    display: none;
    height: calc(100vh - 100px);
    position: absolute;
    top: 50;
    width: 250px;
    background: var(--orange);
}
.btnHandle{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    height: 50px;
}
.btnHandle i{
    padding: 17px;
}

@media (max-width:990px) {
    .colLeft .descktop {
        display: none;
    }
    .btnHandle{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    .colLeft .phone {
        display: block;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
  
@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
  
.slide-in {
    animation: slideIn 0.5s forwards;
}
  
.slide-out {
    animation: slideOut 0.5s forwards;
}

.colRight{
    color: black;
} 

/* Style pour la colone de droite */
.cardUser{
    display: flex;
    align-items: end;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.cardUser:hover{
    transform: scale(1.03);
}
.cardUser img{
    height: 70px; 
    width: 70px;
    border-radius: 5px;
}
.cardUser h3{
    color: white;
    margin: 0 10px;
}
.cardDetail{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}
.cardDetail h3{
    color: var(--orange);
    font-size: 1.5em;
}
.cardDetail img{
    height: auto;
    max-width: 300px;
}